/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "regular";
  src: url(regular.ttf);
}
@font-face {
  font-family: "bold";
  src: url(bold.ttf);
}
@font-face {
  font-family: "name";
  src: url(Silkscreen-Bold.ttf);
}
body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  opacity: 50%;
  padding: 30px;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 15%;
}
header a {
  color: white;
  font-family: "bold";
  font-size: 20px;
  letter-spacing: 0.2px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
header .name {
  font-family: "name";
  font-size: 25px;
  letter-spacing: 0.2px;
}

body {
  background-image: url(witcher-background.png);
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .Main {
  margin-top: 250px;
  margin-bottom: 50px;
  background-color: aliceblue;
  width: 60%;
}
body .Main section {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .Main section h4 {
  font-family: bold;
  font-size: 30px;
  letter-spacing: 0.4px;
  line-height: 40px;
}
body .Main section h5 {
  color: red;
  padding: 5px 5px 5px 0px;
  font-size: 15px;
}
body .Main section p {
  opacity: 80%;
  letter-spacing: 0.2px;
  line-height: 30px;
  font-size: 14px;
}
body .Main section > div {
  margin-left: 20px;
}
body .Main section > a > img {
  width: 300px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
body .Main .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .Main .pages a {
  background-color: aliceblue;
  margin-left: 5.5px;
  border: 0.5px solid gray;
  padding: 4px 8px;
  margin-bottom: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
}

header:hover {
  opacity: 100%;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

header > a:hover {
  scale: 1.1;
  padding: 8px;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation: navigation infinite;
          animation: navigation infinite;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

body > .Main > .pages > a:hover {
  background-color: black;
  color: white;
}

body > .Main > section > a > img:hover {
  opacity: 80%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (width <= 420px) {
    header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: black;
      padding: 30px;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%;
      opacity: 100%;
      height: 15%;
    }
    header .rest {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 18px;
    }
    header a {
      color: white;
      font-family: "bold";
      font-size: 20px;
      letter-spacing: 0.2px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
    header .name {
      font-family: "name";
      font-size: 25px;
      letter-spacing: 0.2px;
    }
  body {
    background-image: url(witcher-background.png);
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .Main {
    margin-top: 250px;
    margin-bottom: 50px;
    background-color: aliceblue;
    width: 100%;
  }
  body .Main section {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .Main section h4 {
    font-family: bold;
    font-size: 30px;
    letter-spacing: 0.4px;
    line-height: 40px;
  }
  body .Main section h5 {
    color: red;
    padding: 5px 5px 5px 0px;
    font-size: 15px;
  }
  body .Main section p {
    opacity: 80%;
    letter-spacing: 0.2px;
    line-height: 30px;
    font-size: 14px;
  }
  body .Main section > div {
    margin-left: 20px;
    text-align: center;
  }
  body .Main section > a > img {
    padding-left: 65px;
    width: 250px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  body .Main .pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .Main .pages a {
    background-color: aliceblue;
    margin-left: 5.5px;
    border: 0.5px solid gray;
    padding: 4px 8px;
    margin-bottom: 5px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 50%;
  }
}

/*# sourceMappingURL=MtavariFourth.css.map */
